body {
	background-image: url('/static/images/tuttitracks-background-original.jpg');
}

#user-image {
	height: 30px;
	border-radius: 50%;
}

#user-page-image {
	height: 100px;
	border-radius: 50%;
}

#user-page-logo {
	height: 50px;
}

.sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.sortable li {
	/* margin: 0 3px 3px 3px;
	padding: 0.4em;
	padding-left: 1.5em;
	font-size: 1.4em;
	height: 18px; */

	margin: 0 5px 5px 5px;
	padding-bottom: 5px;
	font-size: 1.1em;
	height: 2.1em;
}

/* put arrows to left of box */
/* .sortable li span {
	position: absolute;
	margin-left: -1.3em;
} */
