{% extends 'base.html' %}

{% block title %}Spotiflavor{% endblock %}

{% block content %}

<div class="container-fluid">
    <!-- {# <h1 class="display-3 text-center">Search Results</h1>
    <div class="row justify-content-center"> #} -->
    <h1 class="display-3">Track Results</h1>
    <div class="row">
        <div class="col-6">
            <a href="/search" class="btn btn-info">Search</a>
            <br>
            <br>

            <!-- {% for item in tracks['items'] %}
            <p data-id="{{ item['track']['id'] }}" data-name="{{ item['track']['name'] }}"> <button
                    class="btn btn-info btn-sm addToPlaylist">Add</button> {{
                item['track']['name'] }}</p>
            {% endfor %} -->

            {% for item in track_tuples %}
            <!-- <p data-name="{{ item[0] }}" data-id="{{ item[1] }}" data-spotid="{{ item[2] }}"><button
                    class="btn btn-info btn-sm addToPlaylist">Add</button>
                {{ item[0] }}</p> -->
            <p data-name="{{ item[0] }}" data-id="{{ item[1] }}" data-spotid="{{ item[2] }}">
                <iframe src="https://open.spotify.com/embed/track/{{ item[2] }}" width="380" height="80" frameborder="0"
                    allowtransparency="true" allow="encrypted-media"></iframe> <button
                    class="btn btn-info btn-sm addToPlaylist">Add</button>
            </p>
            {% endfor %}


            <br>
        </div>
        <div class="col-6">
            <form action="">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter name of playlist"
                        autofocus>
                </div>
                <div data-username={{ g.user.username }} id="form" class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" name="description" id="description"
                        placeholder="Enter playlist description">
                </div>
                <button class="btn btn-success" id="createPlaylist">Create Playlist</button>
            </form>
            <br>
            <h3>Current Tracks</h3>
            <div>
                <ol class="sortable" id="playList"></ol>
            </div>
        </div>
    </div>
</div>
</div>


<!-- <script src="http://unpkg.com/jquery"></script> -->
<script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>

<!-- <script src="/static/jquery-sortable-min.js"></script> -->

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script src="/static/spotiflavor.js"></script>
<script>
    $(function () {
        $(".sortable").sortable();
    });
</script>

{# <iframe src="https://open.spotify.com/embed/track/2s25WcjhpjL7CC1n5aW9yx" width="300" height="80" frameborder="0"
    allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src="https://open.spotify.com/embed/playlist/5gprcPiOPACeLyPB0y6MkE" width="300" height="380" frameborder="0"
    allowtransparency="true" allow="encrypted-media"></iframe> #}

{% endblock %}