{% extends 'base.html' %}

{% block title %}Tuttitracks{% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Tuttitracks</h1>
        <p class="lead">A tool powered by Spotify that allows you to create and edit playlists and upload them to your
            Spotify account. Find out additional audio features about your tracks including key, tempo, danceability and
            more!<br>
            Tuttitracks is not owned by Spotify, it is a tool you can use to enhance your Spotify experience.
        </p>
        <hr class="my-4">
        <p>Click on Search to search by artist, genre, track-name, album-name or year.</p>
        <p>Click on Liked Tracks to see your liked tracks from Spotify to put them into playlists.</p>
        <p>Click on Top Tracks to see your top played tracks and choose some for playlists.</p>
        <p>Click on Playlists to manage your Spotify and Tuttitracks playlists.</p>
        <hr class="my-4">
        <p>A Spotify account is needed to use Tuttitracks.</p>

        <p class="lead">
            <a href="https://open.spotify.com/" class="btn btn-success btn-lg" target="_blank" role="button">Create
                account</a>
        </p>
    </div>
    {% endblock %}