{% extends 'base.html' %}

{% block title %}Spotiflavor{% endblock %}

{% block content %}

<div class="container">
    <h1 class="display-3">Tuttitracks</h1>
    
    <div class="row">
        <div class="col-md-10">
          <h2>Welcome to Tuttitracks, powered by Spotify</h2>
          <h3>To create Spotify playlists: <br>You will be prompted to log into your Spotify account to allow access.</h3>
          <p>Click on search to search by artist, genre, track-name, album-name or year.</p>
          <p>Click on saved tracks to download your liked tracks from Spotify to put them into playlists.</p>
          <p>Click on album to see all the tracks of an album and choose some for playlists</p>
          <p>Click on playlists to manage your Spotify and Spotiflavor playlists.</p>
        </div>
    </div>

    <div>
        <h3>Create a Spotify account: </h3>
        <a href="https://open.spotify.com/" target="_blank" class='btn btn-success'>Create account</a>
    </div>
</div>

{% endblock %}