{% extends 'base.html' %}

{% block title %}Spotiflavor{% endblock %}

{% block content %}

<div class="container">
    <h1 class="display-3 text-center">Spotiflavor</h1>
    
    <div class="row justify-content-center">
        <div class="col-md-10">
        <h2>Welcome to Spotiflavor.</h2>
        <h3>To create Spotify playlists: You will be prompted to log into your Spotify account to allow access.</h3>
        <p>Click on search to search by artist, genre, track-name, album-name or year.</p>
        <p>Click on saved tracks to download your liked tracks from Spotify to put them into playlists.</p>
        <p>Click on album to see all the tracks of an album and choose some for playlists</p>
        <p>Click on playlists to manage your Spotify and Spotiflavor playlists.</p>
        </div>
    </div>
</div>

{% endblock %}