{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{% block content %}

<div class="container">
    <h1 class="display-3 text-center">Sign Up New User</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="POST">
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="form-group>
                    {{ field.label }}
                    {{ field(class_=" form-control") }} {% for err in field.errors %} <small
                    class="form-text text-danger">
                    {{ err }}
                    </small>
                    {% endfor %}
                </div>
                {% endfor %}
                <br>
                <button class="btn btn-success btn-lg">Search</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}